{% extends 'base.html.twig' %}

{% block title %}Категории{% endblock %}

{% block body %}
<p><a href="{{ path('pc') }}">ПК</a></p>
<p><a href="{{ path('laptop') }}">Ноутбуки</a></p>
<p><a href="{{ path('tablet') }}">Планшеты</a></p>
<p><a href="{{ path('phone') }}">Телефоны</a></p>
{% endblock %}