{% extends 'base.html.twig' %}

{% block title %}Categories{% endblock %}

{% block body %}
<p><a href="{{ path('pc') }}">PC</a></p>
<p><a href="{{ path('laptop') }}">Laptops</a></p>
<p><a href="{{ path('tablet') }}">Tablets</a></p>
<p><a href="{{ path('phone') }}">Phones</a></p>
{% endblock %}